* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/* menu */

body { /*Estilo general del sitio*/
    margin: 0; /*Elimina los márgenes por defecto del navegador.*/
    background-color: rgb(28, 2, 39); /*Fondo negro del menu*/
    color: #fff; /*Texto blanco por defecto en toda la página*/
  }

  .navbar { /*Barra de navegación*/
    background-color: #111; /*casi color negro para el fondo del menú*/
    font-size: 10px; /*tamaño de letra más pequeño, tipo retro*/
    z-index: 1000; /* esto basicamente asegura que el menú se mantenga encima de otros elementos cuando se hace scroll*/
  }

  .navbar-brand span {
    color: aquamarine; /*Aplica color celeste a "OBLIVION", que está dentro de span*/
  }

  .navbar-nav .nav-link {
    color: #fff; /*enlaces blancos*/
    margin-right: 15px; /*espaciado entre enlaces*/
  }

  .navbar-nav .nav-link:hover {
    color: #0ff; /* esto es basicamente para que cuando pasamos el raton por encima, el color cambia a celeste */
  }

  .form-control {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
  }

  .icon-btn { /* lo iconos de Bootstrap */
    color: white; 
    margin-left: 10px; /* espacio entre los dos iconos */
    font-size: 18px;
  }

/* la Portada */

  #Portada {
      background-image: url(../img/imagendefonfo.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: relative;
  }

  #Portada::before { /* ::before: Se utiliza para crear un elemento adicional que se posiciona sobre el contenido del elemento #Portada. */
      content: '';
      position: absolute; /* position: absolute;: Permite que el pseudo-elemento se posicione sobre el elemento padre #Portada. */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(128, 12, 128, 0.7), rgba(128, 0, 128, 0)); /* linear-gradient(to right, ...): Cambia la dirección del gradiente para que vaya de izquierda a derecha. Comienza con un morado fuerte en la izquierda y se desvanece a transparente hacia la derecha. */
      pointer-events: none; /*pointer-events: none;: Asegura que el pseudo-elemento no interfiera con las interacciones del usuario, como clics o desplazamientos.*/
  }
  #Portada h1 {
      margin-right: 35%;
      margin-left: 10%;
      color: white;
      position: relative; /* Necesario para que z-index funcione */
      z-index: 1; /* Asegura que el h1 esté por encima de la sombra del fondo */
      font-size: 70px;
  }
  #Portada h1 sec {
      color: red;
  }

  #Portada p { /* Descripción de la portada */
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color: white;
      margin-left: 10%;
      margin-right: 25%;
      position: relative;
      z-index: 1;
      display: inline-block; /* Ajusta el tamaño del cuadro al contenido */
      border: 2px solid white; /* Bordes blancos */
      padding: 20px; /* Espaciado interno */
      background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
      border-radius: 8px;
      box-shadow: 0 0 10px white; /* Brillo alrededor del cuadro */
  }

  .Margen-boton { /* Espacio entre el texto y el botón */
      margin-left: 10%;
  }

  .ge {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

  #Portada button { /* Botón de la portada */
      color: white;
      font-family:Verdana;
      font-size: 20px;
      position: relative;
      z-index: 1;
      background-color: transparent; /* Pone el fondo del boton transparente */
      border: 3px solid white;
      border-radius: 10px;
      transition: background-color 0.3s, color 0.3s; /* Añade un dilei de 0,3 segundos al cambio de color */
      padding: 5px 10px; /* Añade espacio entre el borde y el texto del boton */
  }
  #Portada button:hover, /* Hace que cuando pasas el cursor por encima o clicas al boton el fondo pase a un "rojo rosado" */
  #Portada button:focus {
      background-color: #FF2E63;
  }

  .social-icons i { /* Iconos de redes sociales */
    margin-left: 30px;
    font-size: 1.5rem;
    margin-right: 10px;
    color: white; }

/* CSS de Juegos destacados */

#Juegos_Destacados {
  background-image: url(../img/fondo.png); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 50px 0; /* Espaciado superior e inferior */
}

#Juegos_Destacados h1 {
  color: white;
  margin-left: 27%;
  margin-bottom: 5%;
  
}

.slider-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 .25rem .5rem #21212126;
  border-radius: .5rem;
  overflow: hidden;
}
.slider a {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider a img {
  width: 100%;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a{
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: .75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

/* efecto neon */
.slider-wrapper {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
  box-shadow:
    0 0 5px #08f,
    0 0 10px #08f,
    0 0 20px #08f,
    0 0 30px #0af;
}

.slider img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px; /* Ensures the images also have a rounded edge to match the wrapper */
}

  /* para las paginas */

  .container {
    display: flex;
    padding: 30px;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 80px; /* Añadir margen superior para evitar que el contenido quede debajo del menú */
  }

  /* COLUMNA IZQUIERDA */
  .left {
    flex: 1;
    max-width: 400px;
  }

  .left img { /* Imagen del juego */
    width: 100%;
    border-radius: 8px;
  }

  .price-box { /* Caja de precio */
    background-color: #266cc9;
    margin-top: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
  }

  .price-box span { /* Precio */
    color: orange;
  }

  .price-box:hover {
    box-shadow: 0 0 15px 3px #659de7;
    background-color: #96bbf0;
  }

  .btn { 
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-purple { /* Botón morado */
    background-color: #a78bfa; 
    color: black;
  }

  .btn-purple:hover {
    box-shadow: 0 0 15px 3px #8c45ac;
    background-color: #cf99d9;
  }

  .btn-dark { /* Botón oscuro */
    background-color: #3b3b4f;
    color: black;
    background-color: #918d87;
    transition: box-shadow 0.3s, background-color 0.3s;
  }

  .btn-dark:hover {
    box-shadow: 0 0 15px 3px #ffa600; /* Brillo naranja al pasar el mouse */
    background-color: #ff8c00; /* Cambia a un tono más oscuro de naranja */
  }

  /* COLUMNA DERECHA */
  .right {
    flex: 2;
    min-width: 300px;
  }

  .right h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .right p {
    line-height: 1.6;
    margin-bottom: 30px;
    color: white; /* Cambia el color del texto a blanco */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .four {
    color: black; /* para cambiar el color de los encabezados de las casillas*/
  }

  /* VIDEO */
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  /* PERSONAJES PRINCIPALES */
  .characters-title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fbbf24;
  }

  h1 { /* Titulo de la pagina */
      color: #fbbf24;
  }

  .characters { /* contenedor de los personajes */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .character-card {
    background-color: #2c273d;
    padding: 15px;
    border-radius: 6px;
  }

  .character-card h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .character-card p {
    font-size: 14px;
    line-height: 1.4;
  }
  .character-card {
      background-color: #808474;
      padding: 15px;
      border-radius: 6px;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 0 10px 2px white; /* Añadir brillo constante */
  }

  .character-card:hover {
    background-color: rgb(168, 168, 113); /* Cambia el fondo a amarillo */
    color: black; /* Cambia el texto a negro */
    box-shadow: 0 0 15px 3px rgb(168, 168, 113); /* Añade un brillo amarillo al pasar el mouse */
  }

  .btn-purple:hover {
      background-color: #8b5cf6;
  }

  .btn-dark:hover {
      background-color: #4b5563;
  }

  .footer {
  background-color: #1f1e20;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 20px; /* Añadir margen superior para separar del contenido */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  .footer-container { /* contenedor del footer */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  }

  .footer-column { /* columnas del footer */
  flex: 1 1 220px;
}

  .footer-column h2.logo { /* logo del footer */
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin-bottom: 10px;
  }

  .oblivion { /* color del logo */
  color: #ffa600;
  font-size: 25px;
  }

  .footer-column h3 { /* títulos de las columnas */
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin-bottom: 15px;
  color: #ffa600;
  }

  .footer-column ul { /* listas de enlaces */
  list-style: none;
  padding: 0;
  }

  .footer-column ul li { /* elementos de la lista */
  margin-bottom: 10px;
  }

  .footer-column ul li a { /* enlaces de la lista */
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .footer-column ul li a:hover { /* enlaces de la lista al pasar el ratón */
  color: #00F0FF;
  }

  .footer-column p { /* párrafos de contacto */
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  hr { /* línea horizontal */
  border: none;
  height: 1px;
  margin: 30px 0 15px;
  }

  .footer-bottom { /* parte inferior del footer */
  text-align: center;
  font-size: 14px;
  }

  .letra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .text { /* descripcion */
    margin-top: 15px;
    border: 2px solid yellow; /* Bordes amarillos */
    padding: 10px; /* Espaciado interno */
    display: inline-block; /* Ajusta el tamaño del cuadro al contenido */
    color: white; /* Color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente del texto */
    font-size: 18px; /* Tamaño del texto */
    background-color: transparent; /* Fondo transparente */
    box-shadow: 0 0 10px yellow; /* Brillo amarillo alrededor del cuadro */
  }

  /* pagina de catalogo*/

  .containerr {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 60px; /* Espacio entre el menú y el título */
    margin-bottom: 5px; /* Reduce el espacio debajo del título */
  }

  .sidebar { /* barra lateral */
    flex: 1; 
    min-width: 250px; 
    background-color: #1c1c1c;
    padding: 30px;
  }

  .sidebar h3 {  /* Titulo de la barra lateral Categoria y Plataformas */
    font-size: 18px;
    color: orange;
  }

  .sidebar h2 { /* Titulo de la barra lateral Filtors */
    font-size: 14px;
    color: rgb(111, 148, 199);
  }

  .filters { /* Filtros */
    margin-top: 20px;
  }

  .filters label { /* Etiquetas de los filtros */
    display: block;
    margin: 5px 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main { /* contenedor principal */
    flex: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .game-card { 
    background-color: #1a1a1a;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
  }

  .game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .game-info { 
    padding: 10px;
    font-size: 10px;
  }

  .game-info .title { /* Titulo de los juegos */
    font-size: 12px;
    margin-bottom: 5px;
  }

  .tags { /* Etiquetas de los juegos */
    color: #00f7ff;
    margin: 5px 0;
  }

  .price { /* Precio de los juegos */
    color: #e74c3c;
    font-size: 12px;
  }

  .old-price { /* Precio antiguo */
    text-decoration: line-through;
    color: #aaa;
    margin-left: 5px;
  }

  .rating { /* Calificación de los juegos */
    position: absolute;
    top: 10px;
    right: 10px;
    background: #222;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 10px;
  }

  .discount { /* Descuento de los juegos */
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e74c3c;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .nuevo { 
    background: cyan;
    color: black;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
  }

  select {
    background-color: #dd1414;
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    padding: 5px;
    font-size: 10px;
    border: none;
    margin: 10px 0;
  }

  /*las paginas de catalogo*/

  .first {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .backlink { /* Enlace a la paginas anterior "Catalogo" */
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .another { 
    background-color: #1c1c1c;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .gameimage { /* contenedor de la imagen del juego */
    flex: 1;
    min-width: 300px;
    position: relative;
  }

  .gameimage img { /* Imagen del juego */
    width: 100%;
    border-radius: 10px;
  }

  .discountt { /* las etiquetas de Descuento */
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff2e80;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
  }

  .gameinfo { 
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titlerating { /* Titulo y rating */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title { /* Titulo del juego */
    font-size: 40px;
    color: #fbbf24;
  }

  .rating span { /* Calificación */
    margin-left: 5px;
  }

  .tags { 
    color: #00f2ff;
    margin: 10px 0;
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
  }

  .description { /* Descripción del juego */
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 20px;
  }

  .infoo { 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }

  .box { /* cajas de la info */
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 200px;
    font-family: monospace;
  }

  .box span { /* Texto dentro de las cajas */
    color: #00f2ff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
  }

  .precio { 
    background-color: #191919;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prrice { /* Precio */
    font-size: 28px;
    font-weight: bold;
    color: #ff4d6d;
  }

  .otro { /* Precio antiguo */
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
    font-size: 16px;
  }

  small { /* Texto pequeño */
    font-family: monospace;
    font-size: 20px;
  }

  .add-button { /* Botón de añadir al carrito */
    background-color: #001f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .add-button:hover {
    background-color: #003d5c;
  }

@media (max-width: 768px) {

  /*Portada*/

  #Portada h1 { /* Titulo de la portada */
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #Portada p { /* Descripción de la portada */
    font-size: 16px;
    margin-left: 5%;
    margin-right: 25%;
    padding: 15px;
  }

  #Portada button { /* Botónes de la portada */
    font-size: 16px;
    padding: 10px 15px;
  }

  .Margen-boton { /* Espacio entre el texto y el botón */
    margin-left: 5%;
  }

  /* menu */
    .navbar-nav {
      text-align: center; /* centra los enlaces del menú*/
    }

    .navbar-collapse {
      background-color: #111; /*Mantiene el fondo del menú desplegable en color oscuro cuando se colapsa*/
    }

  /*las paginas de juegos*/

  .container {
    flex-direction: column;
    padding: 15px;
  }

  .left,
  .right { /* columnas de la pagina de juegos */
    max-width: 100%;
  }

  .characters { /* contenedor de los personajes */
    grid-template-columns: 1fr;
  }

  .right h1 { /* Titulo de la pagina */
    font-size: 26px;
  }

  .btn { /* Botón de la pagina de juegos */
    font-size: 15px;
  }

/*catalogo*/

.game-card { 
  width: 100%;
}

.container { /* contenedor de la pagina de catalogo */
  flex-direction: column;
}

.top-bar { 
  justify-content: center;
}

/*las paginas de catalogo*/

.another { 
  flex-direction: column;
}

.precio { /* caja de precio */
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.titlerating { /* caja de titulo y rating */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.tags {
  flex-wrap: wrap;
}

}